body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7024 {
  position:absolute;
  left:34px;
  top:286px;
  width:127px;
  height:120px;
}
#u7025 {
  position:absolute;
  left:2px;
  top:52px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7026 {
  position:absolute;
  left:216px;
  top:286px;
  width:127px;
  height:120px;
}
#u7027 {
  position:absolute;
  left:2px;
  top:52px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7028 {
  position:absolute;
  left:214px;
  top:156px;
  width:127px;
  height:120px;
}
#u7029 {
  position:absolute;
  left:2px;
  top:52px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7030 {
  position:absolute;
  left:32px;
  top:156px;
  width:127px;
  height:120px;
}
#u7031 {
  position:absolute;
  left:2px;
  top:52px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7033 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
}
#u7034 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7035 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u7036 {
  position:absolute;
  left:2px;
  top:12px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u7037 {
  position:absolute;
  left:59px;
  top:11px;
  width:63px;
  height:14px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u7038 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u7039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u7039 {
  position:absolute;
  left:170px;
  top:13px;
  width:80px;
  height:14px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u7040 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u7041 {
  position:absolute;
  left:296px;
  top:13px;
  width:76px;
  height:14px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u7042 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u7043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7044 {
  position:absolute;
  left:341px;
  top:13px;
  width:27px;
  height:17px;
}
#u7045 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7046 {
  position:absolute;
  left:346px;
  top:18px;
  width:17px;
  height:7px;
}
#u7047 {
  position:absolute;
  left:2px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:7px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7048 {
  position:absolute;
  left:368px;
  top:18px;
  width:4px;
  height:7px;
}
#u7049 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7050 {
  position:absolute;
  left:0px;
  top:40px;
  width:376px;
  height:45px;
}
#u7051 {
  position:absolute;
  left:2px;
  top:14px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7052 {
  position:absolute;
  left:111px;
  top:55px;
  width:57px;
  height:16px;
  color:#666666;
}
#u7053 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u7054 {
  position:absolute;
  left:218px;
  top:55px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u7055 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7056_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:68px;
  height:6px;
}
#u7056 {
  position:absolute;
  left:214px;
  top:81px;
  width:65px;
  height:3px;
}
#u7057 {
  position:absolute;
  left:2px;
  top:-6px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7058 {
  position:absolute;
  left:74px;
  top:221px;
  width:43px;
  height:16px;
  color:#999999;
}
#u7059 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7060 {
  position:absolute;
  left:79px;
  top:195px;
  width:25px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7061 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7062 {
  position:absolute;
  left:256px;
  top:221px;
  width:43px;
  height:16px;
  color:#999999;
}
#u7063 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7064 {
  position:absolute;
  left:268px;
  top:195px;
  width:25px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7065 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7066 {
  position:absolute;
  left:74px;
  top:344px;
  width:43px;
  height:16px;
  color:#999999;
}
#u7067 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7068 {
  position:absolute;
  left:86px;
  top:318px;
  width:25px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7069 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7070 {
  position:absolute;
  left:259px;
  top:351px;
  width:43px;
  height:16px;
  color:#999999;
}
#u7071 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7072 {
  position:absolute;
  left:268px;
  top:325px;
  width:25px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7073 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7074 {
  position:absolute;
  left:107px;
  top:425px;
  width:145px;
  height:16px;
  color:#999999;
}
#u7075 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
