body {
  margin:0px;
  background-color:rgba(255, 204, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:752px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  text-align:center;
}
#u0 {
  position:absolute;
  left:213px;
  top:170px;
  width:539px;
  height:57px;
  font-size:48px;
  text-align:center;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  white-space:nowrap;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Regular', '楷体';
  font-weight:400;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:229px;
  top:276px;
  width:424px;
  height:21px;
  font-family:'楷体 Regular', '楷体';
  font-weight:400;
  font-style:normal;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  white-space:nowrap;
}
